* {
    font-family: 'Goldman', cursive;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.nav-right {
    margin-right: 20px;
}

.nav-right i {
    font-size: 20px;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal h1 {
    font-size: 60px;
    margin-left: 140px;
}

.img-main {
    width: 890px;
}

.logo {
    font-size: 20px;
    color: #fff;
    background-color: #000;

    padding: 10px;

    border-radius: 100px;
    text-align: center;
}

.name-site, .homepage {
    text-decoration: none;
    color: #000;
}

.homepage {
    margin-right: 10px;
}

.name-site:hover, .homepage:hover {
    text-decoration: underline;
}

.formulario {
    padding-left: 50px;
    border-right: 1px solid #000;
    display: flex;
}

.dados {
    border-right: 2px solid #dfdfdf;
    width: 48%;
}

.dados-pessoais {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formulario-input {
    width: 300px;
    height: 40px;

    font-size: 15px;
    font-style: italic;

    padding-left: 10px;

    border: 1px solid #000;

    outline: none;

}

.formulario-input::placeholder, .formulario-textarea::placeholder {
    color: #b6b5b5;
}

.formulario-textarea {
    width: 300px;
    height: 100px;

    resize: none;
    border: 1px solid #000;

    padding-left: 10px;
    padding-top: 10px;

    font-style: italic;
    font-size: 15px;

    outline: none;
}

.optional {
    font-family: sans-serif;
    font-size: 14px;
    color: #a1a0a0;

}

.label-style {
    display: flex;
    align-items: center;
}

.enviar {
    width: 312px;
    height: 50px;

    border: none;
    background-color: #000;
    color: white;

    font-size: 15px;

    margin-top: 10px;
    transition: 0.5s;
}

.enviar:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.dados-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dados-projeto > .dados-pessoais{
   margin-left: 60px;
}

 .dados-projeto input {
     margin-top: 10px;
 }

 .select-project {
     margin-top: 30px;
     display: flex;
 }

 .project-option {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     margin-right: 30px;
 }

 .project-option > img {
    border: 1px solid rgb(218, 214, 214);
 }

 .project-option > img:hover {
     border: 1px solid;
     cursor: pointer;
 }

 footer {
     height: 50px;
     background-color: #000;

     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #fff;
     padding: 20px;

     margin-top: 50px;
 }

 footer > div > a {
     color: #fff;
     text-decoration: none;
 }

 footer > div > a:hover {
     text-decoration: underline;
 }